[Desktop Entry]

Type=Application

Version=1.0

Name=<NAME>

Comment=<COMMENT>

Exec="/home/scottedwardscoll/Nativefier Apps/<NAME>-linux-x64/<NAME>"

Icon=/home/scottedwardscoll/Nativefier Apps/icons/<NAME>.png

Terminal=false

Categories=<CATEGORIES>
