[Desktop Entry]

Type=Application

Version=1.0

Name=<NAME>

Comment=<COMMENT>

Exec="<NATIVE_DIR>/<NAME>-linux-x64/<NAME>"

Icon=<NATIVE_DIR>/icons/<NAME>.png

Terminal=false

Categories=<CATEGORIES>
